# ignore image files
*.jpg
*.png
*.JPG
*.PNG
*.gif
*.GIF
*.jpeg
*.JPEG

# idea dir
/.idea/

# dataset dir
/dataset/
!.gitkeep
/dataset/object_detection/
!.gitkeep

# model dir
/web_if/model/

# web_if's .idea and __pycache__ dir
/web_if/.idea/
/web_if/__pycache__/
/web_if/yolo3/__pycache__/
