{% extends "base.html" %}
{% block content %}
<form method="post" action="/send_sf_det" enctype="multipart/form-data">
    <p>利用モデル：{{ model_name }}
   <input type="button" onclick="location.href='/'"value="TOPに戻る"><br>
    </p>

    <input type="file" id="img_file" name="img_file" class="col-sm-4">
    <input type="submit" value="解析開始" class="btn">
</form>
    {% if img_url %}
        <p><img src="{{ img_url }}"></p>
    {% endif %}
    {% if result_url %}
        <p><img src="{{ result_url }}"></p>
    {% endif %}
{% endblock %}
